---
interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section id={id} class={`section ${className}`}>
  <slot />
</section>

<style>
  .form-contact-container {
    margin-top: 3rem;
  }
</style>


